Main.json
{
  "name": "Main",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const msg = $json.message;\n\nif (!msg) {\n  return [];\n}\n\nconst fromId = msg.chat.id;     // used as key for doctor\nconst type = msg.voice ? 'voice' : 'text';\n\nconst out = {\n  fromId,\n  type\n};\n\nif (type === 'text') {\n  out.text = msg.text || '';\n} else if (type === 'voice') {\n  out.fileId = msg.voice.file_id;\n}\n\nreturn [{ json: out }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        112
      ],
      "id": "5153197a-ba91-4a77-ac41-6ea18b22b5ce",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "969de392-651f-4409-9c13-da85a7bc60e7",
              "leftValue": "={{$json.type}}",
              "rightValue": "text",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        112
      ],
      "id": "4385d8d9-867b-479f-bf9a-c52594d92bd3",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const text = $json.text || '';\nconst parts = text.split(/\\s+/);\n\nconst patientId   = parts[0] || '';\nconst patientName = ((parts[1] || '') + ' ' + (parts[2] || '')).trim();\n\nconst roomIndex = parts.findIndex(p => p.toLowerCase() === 'room');\nconst wardIndex = parts.findIndex(p => p.toLowerCase() === 'ward');\n\nconst roomNo = roomIndex !== -1 ? (parts[roomIndex + 1] || '') : '';\nconst ward   = wardIndex !== -1 ? (parts[wardIndex + 1] || '') : '';\n\nreturn [{\n  json: {\n    fromId:      $json.fromId,\n    patientId,\n    patientName,\n    roomNo,\n    ward\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "ba609581-7da4-4f4c-9a86-eeedf3cedf1e",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Mf8oo-ffsxcmf7dpkp26qh6t73BQylSGmfnfe2N0sG8",
          "mode": "list",
          "cachedResultName": "patient sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Mf8oo-ffsxcmf7dpkp26qh6t73BQylSGmfnfe2N0sG8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Mf8oo-ffsxcmf7dpkp26qh6t73BQylSGmfnfe2N0sG8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "patientId": "={{$json.patientId}}",
            "patientName": "={{$json.patientName}}",
            "roomNo": "={{$json.roomNo}}",
            "ward": "={{$json.ward}}",
            "type": "",
            "itemName": "",
            "doseTime": "",
            "doseDate": "",
            "status": "=registered",
            "fromId": "={{$json.fromId}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "patientId",
              "displayName": "patientId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "patientName",
              "displayName": "patientName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "roomNo",
              "displayName": "roomNo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ward",
              "displayName": "ward",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "itemName",
              "displayName": "itemName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "doseTime",
              "displayName": "doseTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "doseDate",
              "displayName": "doseDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fromId",
              "displayName": "fromId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        144,
        0
      ],
      "id": "5bb413d4-6448-440e-a48b-ee15a2789bf5",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QUBg7UqumZpO71e7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Mf8oo-ffsxcmf7dpkp26qh6t73BQylSGmfnfe2N0sG8",
          "mode": "list",
          "cachedResultName": "patient sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Mf8oo-ffsxcmf7dpkp26qh6t73BQylSGmfnfe2N0sG8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Mf8oo-ffsxcmf7dpkp26qh6t73BQylSGmfnfe2N0sG8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        48,
        288
      ],
      "id": "0b5360a5-8a5b-464d-82b6-e30080b0b920",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QUBg7UqumZpO71e7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const voiceItem = $('Code in JavaScript').first().json;\nconst sheetItems = $input.all();\n\nconst matching = sheetItems.filter(i =>\n  String(i.json.fromId) === String(voiceItem.fromId)\n);\n\nif (!matching.length) {\n  throw new Error('No registered patient found. Please send patient details as text first.');\n}\n\nconst patient = matching[matching.length - 1].json;\n\nreturn [{\n  json: {\n    fromId:      voiceItem.fromId,\n    fileId:      voiceItem.fileId,\n    patientId:   patient.patientId,\n    patientName: patient.patientName,\n    roomNo:      patient.roomNo,\n    ward:        patient.ward\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        128
      ],
      "id": "65823905-196e-42bc-8477-a1764702ffb4",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot8171399559:AAESivD4H2ARwCXVKjALZi_qNnI9WlpxsJ8/getFile?file_id={{$json.fileId}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        544,
        128
      ],
      "id": "cf465f4a-1f61-4809-bea6-ed926d6f1a99",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot8171399559:AAESivD4H2ARwCXVKjALZi_qNnI9WlpxsJ8/{{ $json.result.file_path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        752,
        128
      ],
      "id": "58a25c14-909c-4553-9da2-9dc7144e4a4d",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "// Parse Groq LLM response\nconst raw = $json.choices[0].message.content.trim();\n\nlet data;\ntry {\n  data = JSON.parse(raw);\n} catch(e) {\n  // Strip markdown code fences if present\n  const clean = raw.replace(/```json|```/g, '').trim();\n  data = JSON.parse(clean);\n}\n\n// Get patient details from Code in JavaScript2\nconst patient = $('Code in JavaScript2').first().json;\n\nconst today = new Date().toISOString().slice(0, 10);\n\nfunction makeRow(type, item) {\n  return {\n    json: {\n      patientId:   patient.patientId,\n      patientName: patient.patientName,\n      roomNo:      patient.roomNo,\n      ward:        patient.ward,\n      type,\n      itemName:    item.name  || '',\n      doseTime:    item.time  || '',\n      doseDate:    item.date  || today,\n      status:      'pending',\n      fromId:      patient.fromId\n    }\n  };\n}\n\nconst rows = [];\n\nfor (const m of data.medicines  || []) rows.push(makeRow('Medicine',  m));\nfor (const i of data.injections || []) rows.push(makeRow('Injection', i));\n\nreturn rows;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        160
      ],
      "id": "6402074b-5a8c-4764-967d-43aec530a9ee",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Mf8oo-ffsxcmf7dpkp26qh6t73BQylSGmfnfe2N0sG8",
          "mode": "list",
          "cachedResultName": "patient sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Mf8oo-ffsxcmf7dpkp26qh6t73BQylSGmfnfe2N0sG8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Mf8oo-ffsxcmf7dpkp26qh6t73BQylSGmfnfe2N0sG8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "patientId": "={{$json.patientId}}",
            "patientName": "={{$json.patientName}}",
            "roomNo": "={{$json.roomNo}}",
            "ward": "={{$json.ward}}",
            "type": "={{$json.type}}",
            "itemName": "={{$json.itemName}}",
            "doseTime": "={{$json.doseTime}}",
            "doseDate": "={{new Date().toISOString().slice(0,10)}}",
            "status": "=pending",
            "fromId": "={{$json.fromId}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "patientId",
              "displayName": "patientId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "patientName",
              "displayName": "patientName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "roomNo",
              "displayName": "roomNo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ward",
              "displayName": "ward",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "itemName",
              "displayName": "itemName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "doseTime",
              "displayName": "doseTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "doseDate",
              "displayName": "doseDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fromId",
              "displayName": "fromId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1728,
        144
      ],
      "id": "f9be0b40-3eb9-4cf0-a717-6ddee3e7f7e2",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QUBg7UqumZpO71e7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -624,
        112
      ],
      "id": "7c71600b-0e2f-460f-802d-9aa6c6efa52a",
      "name": "Telegram Trigger",
      "webhookId": "1147f562-3dfc-43c4-9ced-d571896427c2",
      "credentials": {
        "telegramApi": {
          "id": "lvy7q03DuRDZTFUX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$json.fromId}}",
        "text": "=✅ *Patient Registered!*\n\n👤 {{$json.patientName}} (ID: {{$json.patientId}})\n🏥 Room {{$json.roomNo}}, Ward {{$json.ward}}\n\nNow send a voice note to add the medication schedule.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        352,
        0
      ],
      "id": "8cfbcd7f-369a-4fcc-a6e8-ef4bbdbcf70d",
      "name": "Confirm Registration",
      "webhookId": "8fd525a6-f5d4-4a31-8df4-755d392c5871",
      "credentials": {
        "telegramApi": {
          "id": "lvy7q03DuRDZTFUX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$json.fromId}}",
        "text": "=✅ *Timetable Saved!*\n\n👤 {{$json.patientName}} (ID: {{$json.patientId}})\n💊 {{$json.type}}: *{{$json.itemName}}* at {{$json.doseTime}}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1936,
        112
      ],
      "id": "8c7886ca-7442-414e-b9e4-654719ba17bc",
      "name": "Confirm Timetable Saved",
      "webhookId": "4c9db4d4-ed54-4788-82e1-c0735e587a7d",
      "credentials": {
        "telegramApi": {
          "id": "lvy7q03DuRDZTFUX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-large-v3"
            },
            {
              "name": "response_format",
              "value": "json"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1168,
        128
      ],
      "id": "087f9f4d-ff89-437e-abc9-6ea336f21afb",
      "name": "HTTP Request2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wpZHaZIcCPmzK2wa",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a hospital assistant. Use these patient details exactly - patientId: {{ $('Code in JavaScript2').first().json.patientId }}, patientName: {{ $('Code in JavaScript2').first().json.patientName }}, roomNo: {{ $('Code in JavaScript2').first().json.roomNo }}, ward: {{ $('Code in JavaScript2').first().json.ward }}. From the transcript produce only this JSON with no extra text: {\\\"patientId\\\":\\\"\\\",\\\"patientName\\\":\\\"\\\",\\\"roomNo\\\":\\\"\\\",\\\"ward\\\":\\\"\\\",\\\"medicines\\\":[{\\\"name\\\":\\\"\\\",\\\"time\\\":\\\"HH:MM\\\",\\\"date\\\":\\\"YYYY-MM-DD\\\"}],\\\"injections\\\":[{\\\"name\\\":\\\"\\\",\\\"time\\\":\\\"HH:MM\\\",\\\"date\\\":\\\"YYYY-MM-DD\\\"}]}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"={{ $json.text }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1376,
        128
      ],
      "id": "c7e69f0b-3b14-4df2-b425-0af6e260c077",
      "name": "HTTP Request3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wpZHaZIcCPmzK2wa",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const binaryData = await this.helpers.getBinaryDataBuffer(0, 'data');\n\n// Re-register the binary with correct MIME type and filename\nconst newBinary = await this.helpers.prepareBinaryData(\n  binaryData,\n  'audio.ogg',\n  'audio/ogg'\n);\n\nreturn [{\n  json: $input.first().json,\n  binary: {\n    data: newBinary\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        128
      ],
      "id": "5818bdf8-5aa8-495a-aced-f8be663feedd",
      "name": "Code in JavaScript4"
    }
  ],
  "pinData": {},
  "connections": {
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Confirm Registration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Confirm Timetable Saved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0ccce148-438c-43e3-ad28-fd04e67b1bdb",
  "meta": {
    "instanceId": "c73742829c0e171af8a6ccf85716d298ddc3e7c31c352975366621f2aab075d2"
  },
  "id": "LMkFl7FtwZi5fUUxK7W4v",
  "tags": []
}