prepare Rem1234567.json
{
  "name": "prepare Rem1234567",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1616,
        272
      ],
      "id": "0b71f058-3953-48fd-97ed-cab975f6cafd",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1mRv9xsmkNQUpnDS6wk38Hxi1EUu7ETsP4lw15yvB6B4",
          "mode": "list",
          "cachedResultName": "record",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mRv9xsmkNQUpnDS6wk38Hxi1EUu7ETsP4lw15yvB6B4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1725036560,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mRv9xsmkNQUpnDS6wk38Hxi1EUu7ETsP4lw15yvB6B4/edit#gid=1725036560"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "patientId",
              "displayName": "patientId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "patientName",
              "displayName": "patientName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "roomNo",
              "displayName": "roomNo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ward",
              "displayName": "ward",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "itemName",
              "displayName": "itemName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "doseTime",
              "displayName": "doseTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "doseDate",
              "displayName": "doseDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        0
      ],
      "id": "3b2ed6c6-fae4-4a31-a87e-e1e74441bf0e",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QUBg7UqumZpO71e7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Mf8oo-ffsxcmf7dpkp26qh6t73BQylSGmfnfe2N0sG8",
          "mode": "list",
          "cachedResultName": "patient sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Mf8oo-ffsxcmf7dpkp26qh6t73BQylSGmfnfe2N0sG8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Mf8oo-ffsxcmf7dpkp26qh6t73BQylSGmfnfe2N0sG8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1296,
        176
      ],
      "id": "1f93d3da-3f13-47b7-8fc2-13da5c43aa91",
      "name": "Get Timetable",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QUBg7UqumZpO71e7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1EZpb7fFKT1Kg31mlfP3oCx3xwrfvzcMC7uUPmvg-dXg",
          "mode": "list",
          "cachedResultName": "nurse duty",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EZpb7fFKT1Kg31mlfP3oCx3xwrfvzcMC7uUPmvg-dXg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EZpb7fFKT1Kg31mlfP3oCx3xwrfvzcMC7uUPmvg-dXg/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1312,
        416
      ],
      "id": "8c689259-d70c-4828-a428-de882562a276",
      "name": "Get Nurse Duty",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QUBg7UqumZpO71e7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst hhmmNow = now.toTimeString().slice(0, 5);   // \"23:48\"\n\nconst allInputs = $input.all();\n\n// 1) Rows from timetable (patient + medicine)\nconst timetableItems = allInputs.filter(i => {\n  const j = i.json;\n  return j.patientId && j.itemName && j.doseTime &&\n         String(j.doseTime).trim() !== '';\n});\n\nif (timetableItems.length === 0) {\n  return [];\n}\n\n// 2) Nurse rows\nconst nurseItems = allInputs.filter(i => i.json.nurseName);\n\nconst out = [];\n\nfor (const item of timetableItems) {\n  const tj = item.json;\n\n  // Only send when time matches current minute\n  if (String(tj.doseTime).slice(0, 5) !== hhmmNow) {\n    continue;\n  }\n\n  const ward  = String(tj.ward || '').toLowerCase().trim();\n  const nurse = nurseItems.find(i =>\n    String(i.json.ward || '').toLowerCase().trim() === ward\n  );\n\n  out.push({\n    json: {\n      patientId:      String(tj.patientId),\n      patientName:    String(tj.patientName),\n      roomNo:         String(tj.roomNo),\n      ward:           String(tj.ward),\n      type:           String(tj.type || 'Medicine'),\n      itemName:       String(tj.itemName),\n      doseDate:       String(tj.doseDate),\n      doseTime:       String(tj.doseTime),\n      nurseName:      nurse ? String(nurse.json.nurseName) : 'On duty nurse',\n      telegramChatId: nurse\n        ? String(nurse.json.telegramChatId)\n        : '5298983768',\n    },\n  });\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -944,
        272
      ],
      "id": "f2cafafe-2463-4fbc-a51b-46b1c98900c0",
      "name": "Prepare Reminders",
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3970ca77-1f5c-4fb7-947d-f45b4b568ea4",
              "leftValue": "=={{$json.dueNow}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -736,
        304
      ],
      "id": "892e7464-6f51-493d-8555-44f57a0b1322",
      "name": "Any Doses?"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -480,
        176
      ],
      "id": "38f4c99b-4bec-408e-9557-a2d9a71ff3b8",
      "name": "Per Dose"
    },
    {
      "parameters": {
        "chatId": "5298983768",
        "text": "==⏰ *Medication Reminder*\n\n👤 Patient:{{ $('Get Timetable').item.json.patientName }} (ID:{{ $('Get Timetable').item.json.patientId }} )\n🏥 Room: {{ $('Get Timetable').item.json.roomNo }} | Ward: {{ $('Get Timetable').item.json.ward }}\n💊 {{ $('Get Timetable').item.json.type }}: *{{ $('Get Timetable').item.json.itemName }}*\n🕐 Due at: {{ $('Get Timetable').item.json.doseTime }}\n\n👩‍⚕️ Nurse on duty: NURSE NAME",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -240,
        224
      ],
      "id": "ab994d9c-4a95-4e8e-b854-dc3f226a8a32",
      "name": "Send a text message",
      "webhookId": "76f047a0-7534-421c-b328-704fe289297a",
      "credentials": {
        "telegramApi": {
          "id": "lvy7q03DuRDZTFUX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1120,
        288
      ],
      "id": "bb1b441e-0dc4-4d4f-847f-51aeb839f133",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Timetable",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Nurse Duty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Timetable": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Nurse Duty": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Prepare Reminders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Reminders": {
      "main": [
        [
          {
            "node": "Any Doses?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Doses?": {
      "main": [
        [
          {
            "node": "Per Dose",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Per Dose": {
      "main": [
        [],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1dacdca3-5e34-4b7a-a301-31f0e8bf9953",
  "meta": {
    "instanceId": "c73742829c0e171af8a6ccf85716d298ddc3e7c31c352975366621f2aab075d2"
  },
  "id": "fuwvnIL0vk2tuSinzDSol",
  "tags": []
}